.edit-data-container {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.save-btn {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
}

.save-btn:hover {
  background-color: #333;
}
